.tv-screen {
  width: 520px;
  height: 320px;
  background: radial-gradient(circle at center, #111 0%, #000 70%);
  border-radius: 18px;
  border: 10px solid #1e1e1e;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.9),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  animation: tvOn 0.6s ease;
}

.tv-screen.off {
  display: flex;
  align-items: center;
  justify-content: center;
}

.off-text {
  color: #666;
  font-size: 26px;
  letter-spacing: 2px;
}

/* video */
.tv-screen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* chanel name */
.channel-info {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 0 0 10px black;
}

/* menu*/
.menu {
  position: absolute;
  right: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  padding: 14px 18px;
  border-radius: 10px;
  font-size: 14px;
  animation: fadeIn 0.3s ease;
}

/* volume */
.mute {
  margin-top: 6px;
  color: #ff4d4d;
  font-weight: bold;
}

.volume-bar {
  position: absolute;
  bottom: 18px;
  left: 20px;
  width: 200px;
  height: 8px;
  background: #333;
  border-radius: 4px;
  overflow: hidden;
}

.volume-level {
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #8bc34a);
  transition: width 0.3s ease;
}

/* loading */
.loading {
  position: absolute;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  animation: fadeIn 0.2s ease;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tvOn {
  from {
    transform: scaleY(0.05);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.channel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 0.4s ease;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
