body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.screen {
  width: 400px;
  height: 250px;
  background: black;
  color: white;
  padding: 20px;
  border-radius: 12px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.screen.off {
  background: #444;
  transform: scaleY(0.05);
  opacity: 0.4;
}

.screen.on {
  transform: scaleY(1);
  opacity: 1;
}

.menu {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 6px;
}

.loading {
  margin-top: 60px;
  font-size: 18px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
